@font-face{
    font-family: 'Cosmic Lager';
    font-style: normal;
    font-weight: normal;
    src: local('CosmicLager'), url('CosmicLager.otf') format('opentype');
}

@font-face{
    font-family: 'High Voltage';
    font-style: normal;
    font-weight: normal;
    src: local('HighVoltage'), url('HighVoltage.ttf') format('truetype');
}

@font-face{
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: normal;
    src: local('GrandHotel-Regular'), url('GrandHotel-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Medium'), url('Montserrat-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'BebasNeue-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BebasNeue-Regular'), url('BebasNeue-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'Holtzberg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Holtzberg-Regular'), url('Holtzberg-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'Monthoers';
    font-style: normal;
    font-weight: normal;
    src: local('Monthoers'), url('Monthoers.otf') format('opentype');
}

@font-face{
    font-family: 'Muller-ExtraBold-DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Muller-ExtraBold-DEMO'), url('Muller-ExtraBold-DEMO.otf') format('opentype');
}
