html{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(30,30,30);
	color: white;
	--fondo: rgb(30,30,30);
	--blanco: #fafafa; 
	--sombras:#222f3e; 
	--letra:rgb(188,133,66);
	--rojo:#ea2a3d;
	--rojo-transparente:rgb(234,42,61, 0.7); 
}

a{
	color: var(--negro);
	user-select: none;
}

a:hover{
	color: var(--rojo);
}